.row.carousel
    img.col-xs-3.col-xs-offset-1.col-md-offset-2(src='images/mobiilipank-iphone.png', alt='Mobiilipank')
    .col-xs-8.col-md-6.col-md-offset-1
        .heading
            strong LHV mobiilipank.
            br
            | Nüüd saadaval ka Androidile.
        p
            | Laadi alla&nbsp;
            a(href='')
                strong Google Play
            | 'st või&nbsp;
            a(href='')
                strong App Store
            | 'ist →
        p
            a(href='')
                img(src='images/mobiilipank-googleplay.png', style='margin-right:5px' alt='Google Play')
            a(href='')
                img(src='images/mobiilipank-appstore.png', alt='App Store')
.row
    .col-xs-12.text-center
        img(src='images/carousel-dots.png', alt='Carousel dots')
