#content.container
    include content-carousel

    .row.spacer
        .col-xs-12.text-center
            .heading
                | Hea on olla LHV klient.&nbsp;
                a(href='')
                    strong Vaata lähemalt
                |  ⇩

    .row.spacer
        .col-xs-10.col-sm-8.col-xs-offset-1.col-sm-offset-0
            .heading
                | Parim koht, kus oma
                strong  raha hoida ja kasvatada.
            p Oleme parimaks partneriks ettevõtliku meelelaadiga aktiivsele ja iseseisvale kliendile. Oleme pikaajalise investeerimis- ja ettevõtluskogemusega Eesti pank.
        a(href='')
            img.col-xs-10.col-sm-4.col-xs-offset-1.col-sm-offset-0(src='images/video.png', alt='Mobiilipank')

    .row.spacer
        .col-xs-12.text-center
            img(src='images/hr.png', alt='Line')

    .row.spacer
        .col-xs-12.col-sm-10.col-sm-offset-1
            .row.spacer
                img.visible-xs.col-xs-4.col-xs-offset-4(src='images/kassa.png', alt='Mobiilipank')
                .col-xs-10.col-sm-9.col-xs-offset-1.col-sm-offset-0
                    .heading-sm
                        strong Hea intressiga
                        |  hoiused
                    p Me ei investeeri laia kontorivõrku. Tänu kokkuhoitud kuludele saame pakkuda kõrgema intressiga hoiuseid.
                img.hidden-xs.col-xs-3(src='images/kassa.png', alt='Mobiilipank')
            .row.spacer
            .row.spacer
                img.col-xs-4.col-sm-3.col-xs-offset-4.col-sm-offset-0(src='images/mobiilipank.png', alt='Mobiilipank')
                .col-xs-10.col-sm-9.col-xs-offset-1.col-sm-offset-0
                    .heading-sm
                        strong Kasutajasõbralik
                        |  interneti- ja mobillipank.
                    p Oma igapäevaseid makseid saad teha lihtsalt ning mugavalt interneti- ja mobiilipangas ilma teenustasuta.

    .row.spacer
        .col-xs-12.text-center
            img(src='images/hr.png', alt='Line')

    .row.spacer
        .heading.col-xs-12.text-center
            | Me tunneme kohalikke olusid ja inimeste soov –
            br
            strong me teeme oma otsused koha peal.

    .row.spacer
        .heading.col-xs-12.text-center
            a.btn.btn-lg.btn-success Ava konto
