footer.container
    .row
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-pangateenused.png', alt='Pangateenused')
            h4 Pangateenused
            hr
            ul.list-unstyled
                li: a(href='') Arveldused
                li: a(href='') Pangakaardid
                li: a(href='') Hoiused
                li: a(href='') Ava konto
                li: a.grey(href='') Ülevaade →
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-investeerimine.png', alt='Pangateenused')
            h4 Investeerimine
            hr
            ul.list-unstyled
                li: a(href='') Investeerimine
                li: a(href='') Kauplemine
                li: a(href='') Kogumine
                li: a(href='') Laen väärtpaberite tagatisel
                li: a.grey(href='') Ülevaade →
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-finantseerimine.png', alt='Pangateenused')
            h4 Finantseerimine
            hr
            ul.list-unstyled
                li: a(href='') Laenud
                li: a(href='') Liising
                li: a(href='') Garantiid
                li: a(href='') Muud teenused
                li: a.grey(href='') Ülevaade →
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-pension.png', alt='Pangateenused')
            h4 Pension
            hr
            ul.list-unstyled
                li: a(href='') II samba fondid
                li: a(href='') Minu II sammas
                li: a(href='') Vaheta fondi/liitu
                li: a(href='') II sammas
                li: a.grey(href='') Ülevaade →
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-privaatpangandus.png', alt='Pangateenused')
            h4 Privaatpangandus
            hr
            ul.list-unstyled
                li: a(href='') Portfellihaldus
                li: a(href='') Isiklik kliendihaldur
                li: a(href='') Parimad investeerijad
                li: a(href='') Esinduskaart
                li: a.grey(href='') Ülevaade →
        .col-xs-6.col-sm-4.col-md-2
            img(src='images/bullet-ettevottest.png', alt='Pangateenused')
            h4 Ettevõttest
            hr
            ul.list-unstyled
                li: a(href='') Uudised
                li: a(href='') Tingimused ja hinnakiri
                li: a(href='') Kontakt
                li: a(href='') KKK
                li: a.grey(href='') Ülevaade →

    .row.spacer
        .col-xs-12
            hr
            a.btn.btn-link.pull-right(href='') © 2001 - 2015 AS LHV Pank.
            a.btn.btn-link(href='tel:+3726800400') (+372) 6 800 400
            a.btn.btn-link(href='') info@lhv.ee
            a.btn.btn-link(href='') Skype kõne
            a.btn.btn-link(href='') Vestlus klienditoega
            a.btn.btn-link(href='') Facebook
            a.btn.btn-link(href='') Twitter
            a.btn.btn-link(href='') YouTube

    .row.spacer
        .col-xs-12
            p.grey Oled finantsteenuseid pakkuvate ettevõtete AS LHV Pank, AS LHV Finance ja AS LHV Varahaldus veebilehel. Ettevõtetel AS LHV Pank, AS LHV Finance ja AS LHV Varahaldus on õigus salvestada kõiki neile sidevahendite teel antud korraldusi ja muud suhtlust ning kasutada vastavaid salvestisi antud korralduste või muude toimingute tõendamiseks. Enne finantsteenuse lepingu sõlmimist tutvu teenuse tingimustega või küsi lisainfot. Veebilehte ja sellel sisalduvat informatsiooni kasutades nõustud eeltoodud tingimuste ja veebilehe kasutustingimustega.
