#nav.container.hidden-xs
    nav.navbar.navbar-default.navbar-static-top
        .navbar-header
            a.navbar-brand(href='/') Internetipank

        ul.nav.navbar-nav
            li
                a.active(href='') ID
            li
                a(href='') Mobiil
            li
                a(href='') PIN
            li
                a(href='') Parool

        form.navbar-form.navbar-left
            input.form-control(type='text' placeholder='Kasutajatunnus')
        button.btn.btn-success.navbar-btn Sisene

        ul.nav.navbar-nav.navbar-right
            li
                a(href='') Ava konto
            li.navbar-text
