body
    color rgb(68, 76, 94)
    background-color rgb(255, 255, 255)
    background-image url('images/bg.png')
    background-position top center
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 22px
    font-weight 300
    -webkit-font-smoothing antialiased



a
.btn-link
    color rgb(68, 76, 94)

    &:hover
        color rgb(68, 76, 94)
        text-decoration underline


header
    nav
        margin-top 10px !important
        margin-bottom 10px !important
        background-color transparent !important
        border none !important
        font-size 12px

        .navbar-header
            a
                padding-top 10px

        .navbar-nav
            a
                color rgb(34, 34, 34) !important
                font-weight bold
                text-transform uppercase

                &:hover
                    text-decoration underline



#nav
    nav
        height 50px
        background linear-gradient(rgb(255, 255, 255) 0%, rgb(222, 225, 230) 100%)
        border-radius 5px
        box-shadow 0px 1px 2px rgba(100, 100, 100, 0.5)

        .navbar-header
            margin-right 20px
            padding-left 10px
            padding-right 10px
            background linear-gradient(rgb(171, 178, 191) 0%, rgb(89, 103, 129) 100%)
            border-radius 5px 0px 0px 5px

            a
                padding-left 10px
                padding-right 10px
                color rgb(255, 255, 255)
                font-size 12px
                font-weight bold
                text-transform uppercase

                &:hover
                    background-color transparent
                    text-decoration underline !important

        .navbar-nav
            a
                margin 13px 2px
                padding 2px 6px
                border-radius 3px
                color rgb(89, 103, 129)
                font-size 12px
                font-weight bold

                &:hover
                    background-color rgb(255, 255, 255)
                    text-decoration none

            .active
                color rgb(255, 255, 255) !important
                background-color rgb(89, 103, 129)

                &:hover
                    background-color rgb(89, 103, 129)
                    text-decoration none

        .navbar-right
            a
                &:hover
                    background-color transparent
                    text-decoration underline

        button
            font-weight bold
            text-transform uppercase

footer
    font-size 12px

    hr
        margin-top 10px
        margin-bottom 10px

    .grey
        color rgb(160, 160, 160)

    .btn-link
        font-size 12px
